# OS files
.DS_Store

data/b3kat_export_202211_enhanced.tar.gz
data/b3kat_export_202211_enhanced.gz
data/csv_files/b3kat_export_202211_teil01.csv
data/csv_files/b3kat_export_202211_teil02.csv
data/csv_files/b3kat_export_202211_teil03.csv
data/csv_files/b3kat_export_202211_teil04.csv
data/csv_files/b3kat_export_202211_teil05.csv
data/csv_files/b3kat_export_202211_teil06.csv
data/csv_files/b3kat_export_202211_teil07.csv
data/csv_files/b3kat_export_202211_teil08.csv
data/csv_files/b3kat_export_202211_teil09.csv
data/csv_files/b3kat_export_202211_teil10.csv
data/csv_files/b3kat_export_202211_teil11.csv
data/csv_files/b3kat_export_202211_teil12.csv
data/csv_files/b3kat_export_202211_teil13.csv
data/csv_files/b3kat_export_202211_teil14.csv
data/csv_files/b3kat_export_202211_teil15.csv
data/csv_files/b3kat_export_202211_teil16.csv
data/csv_files/b3kat_export_202211_teil17.csv
data/csv_files/b3kat_export_202211_teil18.csv
data/csv_files/b3kat_export_202211_teil19.csv
data/csv_files/b3kat_export_202211_teil20.csv
data/csv_files/b3kat_export_202211_teil21.csv
data/csv_files/b3kat_export_202211_teil22.csv
data/csv_files/b3kat_export_202211_teil23.csv
data/csv_files/b3kat_export_202211_teil24.csv
data/csv_files/b3kat_export_202211_teil25.csv
data/csv_files/b3kat_export_202211_teil26.csv
data/csv_files/b3kat_export_202211_teil27.csv
data/csv_files/b3kat_export_202211_teil28.csv
data/csv_files/b3kat_export_202211_teil29.csv
data/csv_files/b3kat_export_202211_teil30.csv
data/csv_files/b3kat_export_202211_teil31.csv
data/csv_files/b3kat_export_202211_teil32.csv
data/csv_files/b3kat_export_202211_teil33.csv
data/csv_files/b3kat_export_202211_teil34.csv
data/hertz.mrc
data/Freihand.xml
data/plots/.DS_Store
data/plots/.DS_Store
thesis/user_data/
thesis/users.csv
thesis/src/exp/similarity_cos.npz
thesis/src/exp/arrangement_cos.npy
