body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
}

.wordclouds {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* .loans-maps {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
} */

.wordcloud-image {
    width: 50%; /* Adjust width as needed */
    height: auto;
}

.title-list {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* margin-bottom: 20px; */
}


.row {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
  }
  
  .column {
    margin-bottom: 20px;

  }

.loan-figure {
    width: 50%;

}

.loan-figure img {
    width: 100%;
    height: auto;
}

.map-figure {
    width: 50%;
}

.map-figure img {
    width: 100%;
    height: auto;
}


